.header{
    padding: 30px 20px;
    background-color: #eaeaea;
}
.header .lgo{
    height: 70px;
    width: 188px;
    object-fit: contain;
}

.header :global(.show-body){
    display: flex;
}
.header :global(.show-body)>div{
    flex: 1;
    padding-left: 30px;
}

.header ul:before, .header ul:after{
    clear: both;
    content: '';
    display: table;
}
.header ul li{
    color: #888888;
    float: left;
    padding: 5px;
    position: relative;
}
.header ul li.active{
    color: #444444;

}
.header ul li.active:before{
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #1593d9;
    content: '';
    bottom: 0px;
    left: 0;
}

.header .show-body .ant-input-group-addon{
    background: transparent;
}
.header .show-body .anticon.anticon-search {
    color: #1593d9;
    font-size: 20px;
    padding-left: 10px;
}
.header .show-body .ant-input{
    background: transparent;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.header .show-body .ant-input:focus{
    border: none;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: none;
}