:global(.component){
    padding: 20px;
    background-color: #fff;
}

.component ul {

}
:global(.component ) ul:before , :global(.component) ul:after{
    clear: both;
    content: '';
    display: table;
}
:global(.component ul li) {
    margin:  0 10px;
    float: right;
    padding: 1px 5px;
    border-radius: 4px;
}
:global(.component ul li.register){
    background-color: #1593d9;
    color: #fff;
}
:global(.component ul li.clear){
    clear: both;
}

