.periodicalFilter{
    padding: 30px 0px 10px 0;
}

.periodicalFilter .item{
    padding: 10px 0;
}
.periodicalFilter .item:before, .periodicalFilter .item:after{
    clear: both;
    content: '';
    display: table;
}

.periodicalFilter .item span{
    float: left;
    color: #888888;
    padding: 2px 5px;
    border-radius: 4px;
}
.periodicalFilter .item span:global(.active){
    color: #fff;
    background-color: #1593d9;

}
.periodicalFilter .item strong{
    float: left;
    padding: 2px 5px;
    border-radius: 4px;
}

.periodicalFilter .item span.none{
    /*background-color: #1593d9;*/
    /*color: #fff;*/
    margin-left: 20px;
}