:global(.various-list){
	min-height: 460px;
}

:global(.various-list) article{
	padding: 5px;
	cursor: pointer;
	border-bottom: 1px dashed #eeeeee;
}
 :global(.various-list) article :global(.article-body){
	color: #888888;
	margin-top: 5px;
} 
:global(.various-list) article :global(.article-body)>p:first-child{
	float: left;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;;
}

:global(.various-list) article :global(.article-body)>p:last-child{
	float: right;
}