.item{
    cursor: pointer;
    width: 100%;
}

.question, .answer{
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

.question{
    background: #0d88c1;
    color: #fff;
}
.answer{
    background: #fff;
    color: #0d88c1;
    border: 1px solid #0d88c1;
}