.mainMonographsWrapper{
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
}
.mainMonographsWrapper .mainMonographs{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #888888;
    position: relative;
    margin-bottom: 20px;
}
.mainMonographsWrapper .mainMonographs:before{
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0px;
    width: 100px;
    background-color: #1593d9;
    left: calc(50% - 50px);
}

.mainMonographsWrapper .btnMore{
    display: inline-block;
    padding: 10px 60px;
    background-color: #fff;
    text-algin: center;
    margin-top: 20px;
    cursor: pointer;
}