.various-list{

}

.various-list article{
	padding: 5px;
	cursor: pointer;
	border-bottom: 1px dashed #eeeeee;
}
.various-list article .article-body{
	color: #888888;
	margin-top: 5px;
} 
.various-list article .article-body>p:first-child{
	float: left;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;;
}

.various-list article .article-body>p:last-child{
	float: right;
}