:global(.periodical-list){
    position: relative;
}
:global(.periodical-list .sort){
    text-align: right;
    padding: 10px 0;
}
:global(.img-wrapper) img{
    object-fit: cover;
    width: 100%
}
:global(.periodical-list)>span:global(.active){
    font-weight: 600;
}
:global(.periodical-list .periodical-list-wrapper){
    padding: 10px 0;
    border-top: 1px solid #888888;
}

:global(.periodical-list .periodical-list-wrapper article){
    margin-top: 10px;
}

:global(.periodical-list .periodical-list-wrapper) article:before, :global(.periodical-list .periodical-list-wrapper) article:after{
    clear: both;
    content: '';
    display: table;
}
:global(.periodical-list .periodical-list-wrapper article .img-wrapper) {
    width: 180px;
    height: 240px;
    object-fit: cover;
    float: left;
}


:global(.periodical-list .periodical-list-wrapper) article :global(.r-body) {
    overflow: auto;
    height: 250px;
    border-bottom: 1px solid #eeeeee;
}
:global(.periodical-list .periodical-list-wrapper) article:last-child{
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
:global(.periodical-list .periodical-list-wrapper article:last-child .r-body){
    height: 240px;
    border-bottom: none;
}
:global(.periodical-list .active){
    color: #1593d9;
}
:global(.periodical-list .periodical-list-wrapper article .r-body) h3{
    padding: 0 15px;
    margin-bottom: 20px;
}
:global(.periodical-list .periodical-list-wrapper article .r-body) h3 span{
    font-size: 12px;
    font-style:italic;
    display: inline-block;
    margin-left: 10px;
}
:global(.periodical-list .periodical-list-wrapper article  .r-body) p{
    margin-bottom: 12px;
}
:global(.periodical-list .periodical-list-wrapper article  .r-body .btn-wrapper){
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*align-items: center;*/
 }
:global(.periodical-list .periodical-list-wrapper article  .r-body .btn-wrapper) button{
    margin: 10px 0;
}

:global(.periodical-list .sort .sort-text){
    margin-left: 10px;
}
:global(.ant-popover-inner-content){
    padding: 0
}
:global(.popover-sort li){
    color: #444444;
    padding: 12px 16px
}
:global(.popover-sort) li:hover{
    background-color:#eeeeee;
}
:global(.popover-sort) li:global(.active){
    color: #888888
}