.category-wrapper{
	text-align: center;
    padding: 20px;
    background-color: #fff;
}
.main-category .paper-list{

}
.main-category .category-item{
}
.main-category .category-item .s-header{
    position: relative;
}
.main-category .category-item .s-header .anticon-arrow-right{
    position: absolute;
    right: 0;
    top: 18px;
    font-size: 25px;
}

.main-category .ant-select{
    width: 100%!important;
    margin-bottom: 10px;
}

.main-category .category-item h1{
    margin-bottom: 15px;
}

.main-category .paper-list article{
    line-height: 1.4;
    padding: 4px 0px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}