.component{
    background: #ffffff;
    padding: 15px 0px;
    display: flex;
}

.component>div{
    flex: 1;
}
.component>div:last-child img{
    object-fit: contain;
}

.right{
    text-align: right;
    padding:  15px 0 ;
}