:global(ul.various-left-nav){

}

:global(ul.various-left-nav)>li{
	padding: 15px 0;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
    border-bottom: 1px solid #eeeeee;
    width: 80px;
}

:global(ul.various-left-nav)>li:global(.active){
	color: #0b97c4;
}