ul:global(.member-menu){

}
ul:global(.member-menu)>li{
    padding: 5px;
    text-align: center;
}
ul:global(.member-menu)>li:global(.mobile) span{
    display: inline-block;
    border-bottom: 1px solid #eeeeee;;
    padding-bottom: 10px
}
ul:global(.member-menu)>li:global(.active) a{
    color: #0d88c1;
    font-weight: 600;
}