:global(.common-header){
	height: 64px;
	display: flex;
	padding: 12px 30px;
}
:global(.common-header .img-wrapper){
	height: 40px;
	width: 190px;
}

:global(.common-header .img-wrapper img){
	height: 100%;
	width: 100%;
    object-fit: contain;
}
:global(.common-header .ant-select){
	width: 110px!important;
}
:global(.common-header .search-wrapper){
	flex: 1;
	padding: 5px 10px;
	position: relative;
}
:global(.common-header .search-wrapper .icon-search){
	position: absolute;
	left: 130px;
    z-index: 999;
    top: 15px;
    color: #1593d9;
}

:global(.common-header .menu-wrapper){
    padding: 5px 0;
    display: inline-block;
    width: 500px;
    background-color: #fff;
}
:global(.common-header .menu-wrapper .component){
	padding:  0;
}
:global(.common-header .menu-wrapper .component ul) {

}
:global(.common-header .menu-wrapper .component ul:before, .common-header .menu-wrapper .component ul:after){
    clear: both;
    content: '';
    display: table;
}
:global(.common-header .menu-wrapper .component ul li) {
    margin:  0 5px;
    float: right;
    padding: 1px 5px;
    border-radius: 4px;
    line-height: 30px;
    font-size: 14px;
}
:global(.common-header .menu-wrapper .component ul li.register){
    background-color: #1593d9;
    color: #fff;
}
:global(.common-header .menu-wrapper .component ul li.clear){
    clear: both;
}
:global(.common-header .ant-input){
	border-right: 0;
	/*padding-left: 30px;*/
	padding-right: 10px;
}
:global(.common-header .ant-input-group-addon){
	background: none;
	position: relative;
	cursor: pointer;
}
:global(.common-header .ant-input-group-addon .search){
	position: relative;
	cursor: pointer;
}
:global(.common-header .ant-input-group-addon .search:before){
	content: '|';
	position: absolute;
	top: 2px;
	left: -10px;
	color: #eeeeee;
}
